<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyentech.bdc.dao.DeveloperMapper">
    <sql id="developer_table">
        developer
    </sql>

    <sql id="developer_select_columns">
        id, name
    </sql>

    <resultMap id="DeveloperResultMap" type="com.lyentech.bdc.model.vo.DeveloperVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="getById" resultMap="DeveloperResultMap">
        SELECT
        <include refid="developer_select_columns"/>
        FROM
        <include refid="developer_table"/>
        WHERE id = #{id}
    </select>
</mapper>